$primary: #590696;
$info: #f32424;
$secondary: #fbcb0a;
$light: #f2f2f2;
$body-family: "Bodo Amat";

@import "bulma/bulma";

@font-face {
  font-family: "Bodo Amat";
  src: url("./Bodo-Amat.ttf") format("truetype");
}

table.table.is-hoverable.is-striped tbody tr.is-clickable {
  &:hover,
  &:hover:nth-child(even) {
    background-color: $secondary;
  }
}
